.detail-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 60%;
  align-items: center;
}

.detail-types-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 2vw;
}
