.sidebar-container {
  background-color: #fcffe7;
  margin: 0 0 0 1vw;
  padding: 0.4vh 1vw;
  border-radius: 12px;
  border: 1px solid #2b3467;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.sidebar-filters {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1vh;
  width: calc(100% - 3%);
}

.sidebar-typebuttons {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  align-items: center;
}

.sidebar-filters h2 {
  margin: unset;
  margin-top: 1vh;
}

.sidebar-filter-container {
  display: flex;
  flex-direction: column;
  gap: 0.7vh;
}

.sidebar-filter-container > select {
  border-radius: 15px;
  padding: 0.5vh 1vw;
  width: 100%;
}

.sidebar-filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5vw;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin-top: 1vh;
}
