#type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  min-width: 40%;
}

#type-container > img {
  max-height: 3vh;
}
