.type-button-container {
  display: flex;
  align-items: center;
  grid-gap: 4%;
  gap: 4%;
  border-radius: 15px;
  min-width: 45%;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.type-button-container > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
