.pokemon-card-navlink {
  text-decoration: none;
  color: #fcffe7;
  min-width: 15vw;
  min-height: 16vh;
}

.pokemon-card-container {
  display: flex;
  flex-direction: column;
  background-color: #eb455f;
  border: 2px solid #2b3467;
  border-radius: 25px;
}

.pokemon-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.pokemon-card-info > h4 {
  margin: unset;
}

.pokemon-card-info > img {
  max-width: 5vw;
  height: auto;
}

.pokemon-types-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4vw;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 1vw;
}
