.home-container{
    display: grid;
    grid-template-rows: 14vh 80vh;
    width: 100%;
}

.content-container{
    display: flex;
    height: 100%;
}

.cards-page{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 30vh 90vh;    
}