.navbar-container{
    display: flex;
    border-bottom: #2B3467 1px solid;
    gap: 0.5vw;
    background-color: #FCFFE7;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-container  img{
    max-width: 2.2vw;
    height: auto;
}

.navbar-container > input{
    border-radius: 15px;
    border: 1px solid #2B3467;
    width: calc(100% - 78vw);
    padding: 0.5vh 0 0.5vh 1vw;
}

.navbar-container > button{
    border-radius: 15px;
    border: 1px solid #2B3467;
    background-color: #EB455F;
    color: white;
    font-weight: bold;
    padding: 0.5vh 1vw;
}

.navbar-container > button:hover{
    cursor: pointer;
    background-color: white;
    color:#EB455F;
    font-weight: bold;
    padding: 0.7vh 1.0vw;
}