.selector-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: stretch;
  gap: 0.8vh;
}

.selector-chosen-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 12vw;
}

.selector-options {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5vw;
  margin-left: 0.6vw;
}

.selector-options > select {
  border-radius: 10px;
  padding: 0.3vh 0.5vw;
  min-width: 15vw;
}

.selector-chosen-types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  max-width: 20vw;
  gap: 0.5vw;
}
